{% extends 'base.html' %}
{% block content %}
    <section id="Header">
        <article >
            <h1>Estrategias digitales para tu <strong>empresa y startup</strong></h1>
            <p>
                no solo creamos un sitio web para tu empresa; te ofrecemos <strong>las mejores estrategias digitales</strong>
                <ul>
                    <li>Disenio y desarrollo de sitios web gestionables</li>
                    <li>Posicionamiento web avanzado</li>
                    <li>Analisis de competencia en linea y adaptacion de los medios</li>
                </ul>
            </p>
        </article>
        <figure>
            <img src="../static/img/estrategux_banner.png" title="estrategus el salvador banner" alt="estrategus banner" width="500px">
        </figure>
    </section>
    <section id="principal">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis harum officiis sapiente sed voluptatibus! Alias dicta facere illum veniam vero.
    </section>
    <form id="Benchmark">
        <input type="text" id="Nombre" name="Nombre" placeholder="Nombre y apellido" required>
        <input type="email" id="Correo" name="Correo" placeholder="Correo electronico" required>
        <a href="#" class="Boton" id="Consulta">consulta</a>
    </form>
{% endblock %}